html {
  overflow: hidden;
}

body {
  min-height: 1440px;
  width: auto;
  height: 3735px;
  background: #FFFFFF;
  margin:  0;

}

body>.container {
  display: flex;
  min-height: 100%;
  overflow: auto;
  position: relative;
  flex-direction: column;

}

header {
  
  position: relative;
  z-index: auto;
  width: 100%;
  height: 90px;
  left: 0px;
  top: 0px;

  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.container_header {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  width: auto;
  height: 90px;
  margin-left: 120px;
  margin-right: 120px;

}

.navigation {
  display: block;
}

.logo_header {
  display: flex;
}

.nav_list {
  
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 42px;
  padding: 0px;

}

.nav_item>a {
  text-decoration: none;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;

  color: #FFFFFF;
}

.logo_header>img {
  padding-right: 6px;
}

.hspan {
  width: 180px;
  height: 31px;

  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: capitalize;

  color: #FFFFFF;

}
button{
  box-sizing: border-box;
  width: 103px;
  height: 41px;
}

.enter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.login {
  text-transform: capitalize;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;

  background: #0D606F;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.h_background {
  position: absolute;
  width: 100%;
  height: 765px;
  left: 0px;
  top: 0px;
  z-index: -10;
}

.main_header {
  position: absolute;
  width: 892px;
  height: 422px;
  left: 120px;
  top: 122px;
  padding: 0;
  margin: 0;

  font-family: 'Aleo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;

  color: #FFFFFF;
}

.preview_text {
  position: absolute;
width: 723px;
height: 24px;
left: 120px;
top: 346px;

font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 892px;
  height: 95px;
  left: 120px;
  top: 416px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.search>input {
  position: absolute;
  width: 560px;
  height: 22px;
  top: 32px;
  left: 41px;
  padding: 0;
  border: 0;

  background: transparent;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  
}

.search_button {
  position: absolute;
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;
  left: 646px;
  top: 18px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0;

  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;

  color: #FFFFFF;
}