@media screen and (max-width: 391px) {
  html {
    min-width: auto;
    width: 390px;
    height: 1475px;
  }

  body {
    width: 390px;
    height: 1475px;
  }
  
  header {
    width: 390px;
    border-radius: 30px;
    background: none;
    /* background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%); */
    box-shadow: inset 0px 44px 44px 0px rgba(13, 96, 111, 0.75);
    /* box-shadow: none; */

  };

  .container {
    
    height: 1475px;
    width: 390px;
    border-radius: 30px;
  }

  .h_background {
    display: none;
    
    width: 390px;
    height: 251px;
    
  }

  .h_background_mobile {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    border-radius: 30px 30px 0px 0px;
  }

  .container_header {
    max-width: 390px;
    width: 100%;
    padding: 0px 16px;
    align-items: flex-end;

  }

  .logo_header {
    align-items: flex-end;
    padding-bottom: 15px;
  }

  .hspan {
    display: none;
  }
  .navigation {
    display: none;
  }

  .enter {
    display: none;
  }
  
  .burger_menu {
    display: flex;
    background: transparent;
    justify-content: end;
    align-items: flex-end;
    padding: 0px 4px 15px 0px;
  }

 .preview {
  height: 161px;
  left: 0px;
  top: 0px;
 }

  .main_header {
    display: none;
  }

  .preview_text {
    display: none;
  }

  .search {
    width: 360px;
    height: 48px;
    top: 52px;
    margin: 0px auto;
  }

  .search>input {
    padding: 2px 0px 0px 16px;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  
  .search_button {
    min-width: 92px;
    width: 92px;
    height: 30px;
    margin-right: 9px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
  }

  .steps {
    top: 0px;
    height: 173px;
    padding-top: 20px;
  }
  .steps_header {
    margin: 0px;
    top: 0px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  .steps_container {
    height: 114px;
    top: 0px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  .step_logo {
    height: 70px;
    width: 70px;

    margin: 0;
  }

  .step_1>.step_logo>img {
    width: 35px;
    height: 31.5px;
  }

  .step_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 94px;
  }

  .step_2>.step_logo>img {
    width: 35px;
    height: 35px;
  }

  .step_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-width: 173px;
    margin: 0px;
  }

  .step_3>.step_logo>img {
    width: 40px;
    height: 30px;
  }
  
  .step_3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    min-width: 93px;
    margin: 0px;
    text-align: right;
  }

  .destinations {
    margin: 0px auto;
    width: 360px;
    height: 289px;
  }

  .destinations_header {
    padding: 20px 0px;
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  .slide {
    width: 360px;
    height: 210px;
    margin: 0px;
  }

  #slide_front,
    #slide_right {
      display: none;
    }
  
  .slide_name {
    width: 60px;
    height: 26px;
    left: calc(50% - 60px/2 - 135px);
    top: calc(50% - 26px/2 - 82.5px);
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }

  .slide_map {
    width: 36px;
  }
  .slide_dot {
    width: 8px;
    height: 8px;
  }

  .slide_dot_main {
    width: 8px;
    height: 8px;
  }

  .stories_article {
    width: 100%;
  }
  
  .stories_article_text_content {
    width: 100%;
  }
  .stories_article_text_header {
    width: 100%;
  }


};